<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue程序</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <!-- 指定挂载位置 -->
    <div id="app">
        <br>
          温度：<input type="number" v-model="temprature"></br>
          天气：
          <span v-if="temprature <= 10">寒冷</span>
          <span v-if="temprature > 10 && temprature <= 25">凉爽</span>
          <span v-if="temprature > 25">炎热</span>
        </div>
    </div>
</body>
<script>

    const vm = new Vue({
        data: {
            temprature: 10
        },
        el: '#app'
    })
</script>

</html>